  <nav class="navbar  navbar-light bg-light navbar-expand-md">
    <a class="navbar-brand m-lg-1" href="#">
        <img src="../assets/innoLogo.svg" alt="InnoLogo" class="logoImage img-fluid mb-3">
      </a>
      <button type="button " style="background: linear-gradient(to left,#0090ff,#4c88ff,#707efb,#8d73f5,#a766eb)!important"
      class="btn text-nowrap navbar-toggler gtInTch">Get In Touch
    </button>
    
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
         <span class="navbar-toggler-icon"></span>
         </button>

       <div class="collapse etxt-center navbar-collapse" id="navbarContent">
         <ul class="navbar-nav text-center justify-content-between  text-capitalize fs-6 text-nowrap fw-semibold text-dark">
                <li class="nav-item">
                  <a class="nav-link" href="#app-home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#WhoIsIt">who is it for</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#howItWork"  routerLinkActive="active">how it work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#solution" routerLinkActive="active">solution</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aboutUs" routerLinkActive="active">about us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://apis.innofulfill.com/">Web API</a>
                </li>
         </ul>
      </div>
      <a class="nav-link text-nowrap text-info login mx-4" href="#aboutUs">
        <i class="fas fa-user"></i> Login
      </a>
     </nav>
   