<div id="features" style="overflow-x: hidden;">
    <div class="row">
        <div class="card border-0 bg-light p-5 ">
            <div class="card-body text-center">
                <h1 class="card-title text-capitalize fs-1 fw-bold fs-1 ">InnoFulfill Serves</h1>
                <h1 class="card-title text-capitalize fs-1 fw-bold fs-1 ">With Transparency and Diligence
                </h1>
                <p class="card-text fs-6 pt-2  ">Grow your Ecommerce with our salient feature.</p>
            </div>
        </div>
    </div>

    <div class="bgShape pb-4">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 py-5 p-5 g-4">
            <div data-aos="fade-right" data-aos-duration="1200" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/hyperlocal-delivery-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" data-aos-duration="1000" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/faster-delivery-time_icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-down" data-aos-duration="1000" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/lower-shipping-cost-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1200" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/active-order-tracking-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/optimum-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/order-management-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/order-processing-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/several-payment-options-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos-duration="1200" data-aos="fade-right" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../assets/pickup-drop-service-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/lower-shipping-cost-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/faster-delivery-time_icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
            <div data-aos-duration="1200" data-aos="fade-left" class="col cardHover">
                <div
                    class="card rounded-3 d-flex border-0  align-items-center justify-content-center text-center pt-5 h-100">
                    <div class="icon">
                        <img src="../../assets/active-order-tracking-icon.png" class="" alt="..." style="max-width:100%;">
                    </div>
                    <div class="card-body p-4 ">
                        <h5 class="card-title mt-3 fw-bold">Hyperlocal Delivery</h5>
                        <p class="card-text mb-3">Our delivery agent picks up products from a seller and delivers them
                            to the
                            customer's address.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>