<div class="p-5 bg-light">
    <div class="section py-5">
        <div class="container">
            <div class="card-body">
                <h1 class="card-title text-center fw-bold ">FAQs
                </h1>
                <p class="card-text text-center fw-normal fs-5 mt-3">For any queries, refer FAQs section.
                </p>
            </div>
        </div>
    </div>
    <!-- qry sec -->
    <div class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">How do I start shipping with Innofulfill?
                            </h4>
                        </div>
                        <div class="card-text">
                            You have to sign up, recharge your wallet and start placing orders within minutes. Our Sales
                            team will give you a call within an hour and explain all the details. In case of any urgent
                            queries, you can send your requirements to sales@innofulfill.com and we will reach out to
                            you at the earliest!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Is same day delivery possible?
                            </h4>
                        </div>
                        <div class="card-text">
                            Yes, Innofulfill provides the hyperlocal delivery service and same day shipping is possible
                            depending on the delivery location.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">What if my store is not integrated with any e-commerce platform? Can I
                                still ship with Innofulfill?
                            </h4>
                        </div>
                        <div class="card-text">
                            Yes, Innofulfill offers custom rest APIs that are easy to integrate seamlessly with your
                            store.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Do I need to know how to code to integrate with Innofulfill?
                            </h4>
                        </div>
                        <div class="card-text">
                            No, Innofulfill offers ready to install customized rest APIs that connect your store with
                            our platform. All you need to do is navigate to our channel integrations page that is easy
                            to understand. In case you still face issues, you can contact our sales executive or write a
                            mail to sales@innofulfill.com.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Will I be charged anything apart from shipping costs?
                            </h4>
                        </div>
                        <div class="card-text">
                            Innofulfill levies zero charges/costs to its clients. You only pay for what you ship.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">How many days will it take to get my COD remittances?
                            </h4>
                        </div>
                        <div class="card-text">
                            We have a weekly remittance cycle. You will get your weekly remittance on the first day of
                            next week.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Does Innofulill provide packaging?
                            </h4>
                        </div>
                        <div class="card-text">
                            No, clients have to complete the package on their own before they’re handed over to our
                            delivery partner.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">I do not have a GST number yet , can I ship products?
                            </h4>
                        </div>
                        <div class="card-text">
                            You can provide your PAN card until you get your GST number and start shipping.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Does Innofulfill provide the shipping labels for deliveries?
                            </h4>
                        </div>
                        <div class="card-text">
                            No, clients have to complete the package on their own before they’re handed over to our
                            delivery partner.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">How do I know my package has been successfully delivered?
                            </h4>
                        </div>
                        <div class="card-text">
                            Innofulfill sends clients timely email and SMS alerts to keep them updated about their order
                            status.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-0 ">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="card-text">Will my customers get alerts about their order status?
                            </h4>
                        </div>
                        <div class="card-text">
                            Yes, we send SMS and email communication to customers at regular checkpoints to keep them
                            informed of their order status.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- form sec -->
    <div class="section bgB ">
        <div class="row d-flex align-items-center justify-content-center">
            <!-- <div class="formBg"> -->
            <div class="col-lg-4">
                <img class="img-fluid " src="../../assets/signup-thumb.png" alt="">
            </div>
            <!-- </div> -->

            <!-- form -->
            <div class="col-sm-12 col-12 col-lg-8">  
                <div class="container container-fluid ">
                    <form [formGroup]="contactForm"
                        (ngSubmit)="onSubmit()">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12 col-12 mb-2">
                                <input type="text" placeholder="Company Name" id="companyName"
                                    formControlName="companyName">
                                <!-- <div *ngIf="contactForm.get('companyName').invalid && contactForm.get('companyName').touched">
                        Company Name is required.
                      </div> -->
                            </div>

                            <div class="col-md-6 ">
                                <input type="text" placeholder="Full Name" id="fullName" formControlName="fullName">
                                <!-- <div *ngIf="contactForm.get('fullName').invalid && contactForm.get('fullName').touched">
                        Full Name is required.
                      </div> -->
                            </div>
                        </div>
                        <div class="row d-flex mb-3">
                            <div class="col-md-6 mb-2">
                                <input type="text" placeholder="Mobile No" id="mobileNo" formControlName="mobileNo">
                                <!-- <div *ngIf="contactForm.get('mobileNo').invalid && contactForm.get('mobileNo').touched">
                        Mobile No is required.
                      </div> -->
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" placeholder="Email" id="email" formControlName="email">
                                <!-- <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched">
                        Email is required and must be a valid email address.
                      </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea id="message" placeholder="Message" formControlName="message"></textarea>
                                <button class="mt-2" type="submit" [disabled]="contactForm.invalid">Submit</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>