<div class="p-5">
    <div class="section py-5">
        <div class="container pt-5 ">
            <div class="card-body">
                <h1 class="card-title text-center fw-bold ">About Us
                </h1>
                <p class="card-text text-center fw-normal fs-5 mt-3">Who are, what do we do, how we fulfill your
                    requirements .
                </p>
            </div>
        </div>
    </div>

    <div id="aboutUs" class="section">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center align-items-center ">
                <div class="container">
                    <div class="card border-0 ">
                        <div class="card-body">
                            <p class="card-text">Innofulfill is the modern platform to manage mass delivery easily.
                                On one side it is capable of receiving orders from multiple ecommerce platforms. On the
                                other
                                side it will automate the process
                                of order assignment, discovering the fulfillment center, route generation, online
                                tracking of
                                orders and notifications. Our
                                Platform is designed to minimize the delivery cost and delivery time.</p>
                        </div>
                    </div>

                    <div class="card border-0 ">
                        <div class="card-body">
                            <p class="card-text ">
                                Our consistent excellence in consumer experience, with reliable delivery and
                                managing variability at scale, has made us the preferred partner for various businesses.
                                You can utilize our end-to-end fulfillment services to keep your customers happy with
                                on-time deliveries and hassle-free services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- img -->
            <div class="col-lg-6 p-3 d-flex align-items-center justify-content-center ">
                <img src="../../assets/about-us-img.png" alt="" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>