<div id="WhoIsIt" class="section my-5">
    <div class="container">
        <div class="card-body">
            <h1 class="card-title text-center fw-bold ">Who Is It For</h1>
            <p class="card-text text-center fw-normal fs-5 mt-3">Paced and secure delivery solutions for all</p>
        </div>
    </div>
</div>

<div class="section my-5">
    <div class="container-fluid my-5">
        <div class="row d-flex align-items-center justify-content-center ">
            <div data-aos="fade-right"
            data-aos-easing="ease-in-sine" class="col-md-6 d-flex justify-content-center ">
                <img src="../../assets/who-is-it-for.png" alt="" style="max-width: 100%;">
            </div>

            <div class="col-md-6 d-flex justify-content-center flex-column align-items-center ">
                <div data-aos="fade-down-left" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Shop Owner's</h5>
                                <p class="card-text my-3">Create order manually based on your needs. You can order separately
                                    or in bulk at your ease.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Marketplace Seller
                                </h5>
                                <p class="card-text my-3">Multiple channels integration and start placing orders. Integrate
                                    multiple channels, enjoy wide range of options and start placing orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Social Sellers
                                </h5>
                                <p class="card-text my-3 ">Social media sellers. Can create orders manually. Find and receive product details from social media seller and then place orders manually.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-left" class="card rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">D2C Brands
                                </h5>
                                <p class="card-text">API integration will help fulfill orders of your customers. Via API integration like InnoFulfill, get the best products options and delivery sevice.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>