<div id="howItWork" class="section bg-light  my-5">
    <div class="container-fluid my-5">
        <!-- all page row -->
        <div class="row d-flex align-items-center justify-content-center ">
            <!--main 1st img sec -->
            <div class="col-md-6 d-flex justify-content-center ">
                <img src="../../assets/how-it works-process-flow.png" alt="" style="max-width: 100%;">
            </div>
            <!--main second text sec -->
            <div class="col-md-6">
                <!-- secnd description title -->
                <div>
                    <div class="container mb-4 ">
                        <div class="card-body">
                            <h1 class="card-title text-center fw-bold ">How It Works</h1>
                            <p class="card-text text-center fw-normal fs-5 mt-3">
                                InnoFulfill provides an innovative and user-friendly platform.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- scnd list -->
                <div class=" listingDesign ">
                    <div class="mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>1</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Visit Website
                            </div>
                        </div>
                    </div>
                    <div class=" mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>2</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Create Account
                            </div>
                        </div>

                    </div>
                    <div class=" mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>3</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Confirm KYC
                            </div>
                        </div>
                    </div>
                    <div class=" mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>4</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Recharge Wallet
                            </div>
                        </div>

                    </div>
                    <div class=" mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>5</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Integrate Channel
                            </div>
                        </div>
                    </div>
                    <div class=" mb-3">
                        <div class="listCircl d-flex gap-2 ">
                            <div class="circleDesign fs-5">
                                <small>6</small>
                            </div>

                            <div class="text-nowrap align-items-center fs-5 d-flex">
                                Start Placing Order
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>