<div id="howItWork" class="section bg-light  my-5">
    <div class="container-fluid my-5">
        <!-- all page row -->
        <div class="row d-flex align-items-center justify-content-center ">
            <!--main 1st img sec -->
            <div class="col-md-6 d-flex justify-content-center ">
                <img src="../../assets/how-it works-process-flow.png" alt="" style="max-width: 100%;">
            </div>
            <!--main second text sec -->
            <div class="col-md-6">
                <!-- secnd description title -->
                <div>
                    <div class="container mb-4 ">
                        <div class="card-body">
                            <h1 class="card-title text-center fw-bold ">How It Works</h1>
                            <p class="card-text text-center fw-normal fs-5 mt-3">
                                InnoFulfill provides an innovative and user-friendly platform.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- scnd list -->
                <div class=" listingDesign col-xm-6">
                            <div class="row mb-3">
                                <div class="listCircl col col-sm-4">
                                    <div class="circleDesign fs-5">
                                        <small>1</small>
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5 ">
                                    Visit Website
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="listCircl col col-sm-4">
                                    <div class="circleDesign fs-5">
                                        2
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5">
                                    Visit Website
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="listCircl col  col-sm-4">
                                    <div class="circleDesign fs-5">
                                        3
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5 ">
                                    Visit Website
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="listCircl col  col-sm-4">
                                    <div class="circleDesign fs-5">
                                        4
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5">
                                    Visit Website
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="listCircl col  col-sm-4">
                                    <div class="circleDesign fs-5">
                                        5
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5 ">
                                    Visit Website
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="listCircl col col-sm-4">
                                    <div class="circleDesign fs-5">
                                        6
                                    </div>
                                </div>
                                <div class="col-sm-8 text-nowrap d-flex align-items-center fs-5">
                                    Visit Website
                                </div>
                            </div>
                        <!-- <div class="col-sm-6">
                            <div class="row mb-3">
                                <div class="listCircl col-md-4">
                                    <div class="circleDesign fs-5">
                                        1
                                    </div>
                                </div>
                                <div class="col-md-8 text-nowrap d-flex align-items-center fs-5">
                                    Visit Website
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mb-3">
                                <div class="listCircl col-md-4">
                                    <div class="circleDesign fs-5">
                                        1
                                    </div>
                                </div>
                                <div class="col-md-8 text-nowrap d-flex align-items-center fs-5">
                                    Visit Website
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mb-3">
                                <div class="listCircl col-md-4">
                                    <div class="circleDesign fs-5">
                                        1
                                    </div>
                                </div>
                                <div class="col-md-8 text-nowrap d-flex align-items-center fs-5 ">
                                    Visit Website
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row mb-3">
                                <div class="listCircl col-md-4">
                                    <div class="circleDesign fs-5">
                                        1
                                    </div>
                                </div>
                                <div class="col-md-8 text-nowrap d-flex align-items-center fs-5 ">
                                    Visit Website
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>