<div id="solution" class="section my-5">
    <div class="container">
        <div class="card-body">
            <h1 class="card-title text-center fw-bold ">Whatever You Need,
                We Are Here To Deliver</h1>
            <p class="card-text text-center fw-normal fs-5 mt-3">Good time to Fulfill your wishes is now.
            </p>
        </div>
    </div>
</div>

<div class="section my-5">
    <div class="container-fluid my-5">
        <div class="row d-flex align-items-center justify-content-center ">

            <div class="col-md-6 d-flex justify-content-center flex-column align-items-center ">
        
                <div data-aos="fade-right" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-1 col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-8 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Seamless Order Processing
                                </h5>
                                <p class="card-text my-3">Keep a check on the cash amount collected, and mange its deposit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-1 col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-8 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">COD Tracking
                                </h5>
                                <p class="card-text my-3">Keep a check on the cash amount collected, and mange its deposit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-1 col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-8 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Easy Recharge Option
                                </h5>
                                <p class="card-text my-3">Keep a check on the cash amount collected, and mange its deposit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div  class="card my-3 rounded-0  border-0  border-bottom" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-1">
                            <div class="title"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Easy Recharge Option

                                </h5>
                                <p class="card-text my-3 ">Convenient wallet recharge, with multiple options.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="col-md-6 d-flex flex-column  justify-content-center ">
            <h1 class="text-center">Well Integrated</h1>
                <img src="../../assets/vendor-dashboard.png" alt="" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>