<!-- home page -->
<div id="app-home" class="container-fluid my-5">
    <div style="margin-top: 25vh;" class="row d-flex align-items-center justify-content-center overflow-hidden ">
        <!-- First Part: Card with Text -->
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body text-center">
                    <p class="card-text text-capitalize fw-medium fs-6 text-info ">
                        ❤ 💕 welcome to innoFulfill.💕 ❤ </p>
                    <h1 class="card-title text-capitalize fs-1 fw-bold fs-1 ">a digital solution to fulfill all your
                        needs.</h1>
                    <p class="card-text fs-5 ">Quick and accurate mass delivery system at your fingertips.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center my-5 ">
            <div class="blue-circle">
                <div style="position: absolute;width: 100%; height: 104%; bottom: 0; left: 3em;">
                    <img src="../assets/mobile-delivery.png" alt="Image Description" style=" height: 100%;width: auto;">
                </div>
                <div data-aos="fade-left" data-aos-duration="1200" style="position: absolute; bottom: 0; right: -10px; box-shadow: 0 30px 70px #44010f33;">
                    <img src="../assets/mobile-delivery-graphic.png" alt="qwerty" class="imgGraphic ">
                </div>
            </div>
        </div>
    </div>
</div>
<app-features></app-features>
<app-who-is-it-for></app-who-is-it-for>
<app-how-it-work></app-how-it-work>
<app-solution></app-solution>
<app-fulfillment></app-fulfillment>
<app-about-us></app-about-us>
<app-faqs></app-faqs>
<app-footer></app-footer>
<router-outlet></router-outlet>
